[submodule "frontend"]
	path = frontend
	url = git@github.com:Trevodorax/target-hunt-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:Trevodorax/target-hunt-backend.git
[submodule "bridge"]
	path = bridge
	url = git@github.com:Trevodorax/target-hunt-bridge.git
